social data about different parts of new yok city
create index to select out borough and the related data

In [28]:
import pandas as pd
import numpy as np

In [29]:
url = 'https://data.cityofnewyork.us/api/views/8ek7-jxw6/rows.csv?accessType=DOWNLOAD'

city_data = pd.read_csv(url)

In [30]:
city_data.columns

Index(['Domain', 'Indicator', 'Dimension Category', 'Dimension', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       'Defintion', 'Source', 'Notes'],
      dtype='object')

Replace the * character with NaN

In [31]:
city_data.replace('*', np.nan, inplace=True)

In [32]:
city_data.head()

,Domain,Indicator,Dimension Category,Dimension,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,Defintion,Source,Notes
0,Education,Enrolled Full Day Pre-K Students,Citywide,Citywide,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"19,287","52,741","68,647","69,510",Number of four-year-olds enrolled in full day ...,NYC Department of Education,NaN
1,Education,Enrolled Full Day Pre-K Students,Borough,Bronx,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.0%,22.7%,21.3%,20.5%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN
2,Education,Enrolled Full Day Pre-K Students,Borough,Brooklyn,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39.7%,32.2%,31.7%,32.3%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN
3,Education,Enrolled Full Day Pre-K Students,Borough,Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.3%,13.8%,12.2%,11.8%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN
4,Education,Enrolled Full Day Pre-K Students,Borough,Queens,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18.9%,25.6%,29.0%,29.6%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN

set the Dimension category Domain and Dimension as the index

In [36]:
org_city_data = city_data.set_index(['Dimension Category', 'Domain', 'Dimension'])
org_city_data.head()

create new dataframe with only borough information

In [67]:
borough_data = org_city_data.loc['Borough']
borough_data.head()

                                                Indicator 2000 2001 2002 2003  \
Domain    Dimension
Education Bronx          Enrolled Full Day Pre-K Students  NaN  NaN  NaN  NaN
          Brooklyn       Enrolled Full Day Pre-K Students  NaN  NaN  NaN  NaN
          Manhattan      Enrolled Full Day Pre-K Students  NaN  NaN  NaN  NaN
          Queens         Enrolled Full Day Pre-K Students  NaN  NaN  NaN  NaN
          Staten Island  Enrolled Full Day Pre-K Students  NaN  NaN  NaN  NaN

                        2004 2005 2006 2007 2008  ...  2011 2012 2013   2014  \
Domain    Dimension                               ...
Education Bronx          NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN  NaN  22.0%
          Brooklyn       NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN  NaN  39.7%
          Manhattan      NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN  NaN  15.3%
          Queens         NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN  NaN  18.9%
          Staten Island  NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN  NaN   4.1%

                          2015   2016   2017  \
Domain    Dimension
Education Bronx          22.7%  21.3%  20.5%
          Brooklyn       32.2%  31.7%  32.3%
          Manhattan      13.8%  12.2%  11.8%
          Queens         25.6%  29.0%  29.6%
          Staten Island   5.7%   5.8%   5.7%

                                                                 Defintion  \
Domain    Dimension
Education Bronx          The percentage of students enrolled in Pre-K b...
          Brooklyn       The percentage of students enrolled in Pre-K b...
          Manhattan      The percentage of students enrolled in Pre-K b...
          Queens         The percentage of students enrolled in Pre-K b...
          Staten Island  The percentage of students enrolled in Pre-K b...

                                              Source Notes
Domain    Dimension
Education Bronx          NYC Department of Education   NaN
          Brooklyn       NYC Department of Education   NaN
          Manhattan      NYC Department of Education   NaN
          Queens         NYC Department of Education   NaN
          Staten Island  NYC Department of Education   NaN

[5 rows x 22 columns]

created dataframe with borough education data only

In [59]:
borough_ed_data = borough_data.xs('Education', level='Domain')
borough_ed_data.head()

,Indicator,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,Defintion,Source,Notes
Dimension,,,,,,,,,,,,,,,,,,,,,
Bronx,Enrolled Full Day Pre-K Students,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,22.0%,22.7%,21.3%,20.5%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN
Brooklyn,Enrolled Full Day Pre-K Students,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39.7%,32.2%,31.7%,32.3%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN
Manhattan,Enrolled Full Day Pre-K Students,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,15.3%,13.8%,12.2%,11.8%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN
Queens,Enrolled Full Day Pre-K Students,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,18.9%,25.6%,29.0%,29.6%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN
Staten Island,Enrolled Full Day Pre-K Students,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.1%,5.7%,5.8%,5.7%,The percentage of students enrolled in Pre-K b...,NYC Department of Education,NaN

drop columns where all values are NaN
sort borough by four year high school gradutation percentage in 2015

Staten Island had the highest four year high school graduation percentagein 2015

In [63]:
borough_ed_data.loc[borough_ed_data['Indicator'] == 'Four-Year High School Graduation Rate'].dropna(axis=1, how='all').sort_values('2015', ascending=False)

,Indicator,2011,2012,2013,2014,2015,2016,Defintion,Source
Dimension,,,,,,,,,
Staten Island,Four-Year High School Graduation Rate,74.2%,74.6%,75.2%,79.1%,77.4%,79.3%,The percentage of students who graduated with ...,NYC Department of Education; http://schools.ny...
Queens,Four-Year High School Graduation Rate,70.0%,67.6%,68.9%,70.8%,73.3%,75.5%,The percentage of students who graduated with ...,NYC Department of Education; http://schools.ny...
Manhattan,Four-Year High School Graduation Rate,67.3%,66.6%,67.5%,70.6%,72.5%,74.6%,The percentage of students who graduated with ...,NYC Department of Education; http://schools.ny...
Brooklyn,Four-Year High School Graduation Rate,64.2%,64.9%,66.2%,68.6%,70.8%,72.2%,The percentage of students who graduated with ...,NYC Department of Education; http://schools.ny...
Bronx,Four-Year High School Graduation Rate,57.5%,55.4%,57.5%,59.1%,61.8%,64.8%,The percentage of students who graduated with ...,NYC Department of Education; http://schools.ny...

create a dataframe of crime by borough

In [71]:
borough_crime_data = borough_data.xs('Personal & Community Safety', level='Domain')
borough_crime_data.head()

,Indicator,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,Defintion,Source,Notes
Dimension,,,,,,,,,,,,,,,,,,,,,
Bronx,Admissions to Department of Correction per 1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8,13.8,...,10.1,9.2,10.2,9.1,7.9,6.9,NaN,"Number of inmates per 1,000 admitted to DOC cu...",DOC Population Research,NaN
Brooklyn,Admissions to Department of Correction per 1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.3,9.2,...,7.4,7.4,6.6,5.8,5.1,5.0,NaN,"Number of inmates per 1,000 admitted to DOC cu...",DOC Population Research,NaN
Manhattan,Admissions to Department of Correction per 1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,16.7,...,16.3,15.1,13.5,15.1,11.5,10.8,NaN,"Number of inmates per 1,000 admitted to DOC cu...",DOC Population Research,NaN
Bronx,Violent Crime per 1000,NaN,NaN,NaN,NaN,NaN,7.4,7.1,6.8,6.7,...,6.8,7.1,7.2,6.9,7.2,7.4,NaN,Crime categories are split into two major subc...,"NYPD Compstat for violent crimes (murder, rape...",NaN
Brooklyn,Violent Crime per 1000,NaN,NaN,NaN,NaN,NaN,6.4,5.9,5.6,5.4,...,5.6,5.7,5.5,5.0,4.8,4.5,NaN,Crime categories are split into two major subc...,"NYPD Compstat for violent crimes (murder, rape...",NaN

select the rows for violent crime per 1000 and drop columns that are all NaN
then sort from lowest to highest in 2015

as we can see the order of the boroughs is the same as the order of the boroughs who had the highest graduation rate
Staten Island has the lowest occurance of violent crime in 2015

In [73]:
borough_crime_data.loc[borough_crime_data['Indicator'] == 'Violent Crime per 1000'].dropna(axis=1, how='all').sort_values('2015')

,Indicator,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,Defintion,Source
Dimension,,,,,,,,,,,,,,,
Staten Island,Violent Crime per 1000,2.2,2.0,2.0,2.0,1.9,2.1,2.2,2.5,2.6,2.4,2.5,2.4,Crime categories are split into two major subc...,"NYPD Compstat for violent crimes (murder, rape..."
Queens,Violent Crime per 1000,3.8,3.7,3.5,3.5,3.2,3.4,3.6,3.7,3.6,3.3,3.2,3.1,Crime categories are split into two major subc...,"NYPD Compstat for violent crimes (murder, rape..."
Manhattan,Violent Crime per 1000,6.1,5.5,5.2,4.8,4.4,4.6,4.5,4.5,4.3,4.0,4.3,4.3,Crime categories are split into two major subc...,"NYPD Compstat for violent crimes (murder, rape..."
Brooklyn,Violent Crime per 1000,6.4,5.9,5.6,5.4,4.9,5.2,5.6,5.7,5.5,5.0,4.8,4.5,Crime categories are split into two major subc...,"NYPD Compstat for violent crimes (murder, rape..."
Bronx,Violent Crime per 1000,7.4,7.1,6.8,6.7,6.3,6.8,6.8,7.1,7.2,6.9,7.2,7.4,Crime categories are split into two major subc...,"NYPD Compstat for violent crimes (murder, rape..."